@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body {
  font-family: "Poppins";
  background-color: #4C7766;
}

.title {
  font-family: "Alfa Slab One";
  text-align: center;
  font-size: 100px;
  color: #EBE6E0;
}

.column1 {
    width: 150px;
    height: 150px;
    margin-left: 30%;
    border: 5px solid #EBE6E0;
    cursor: pointer;
    text-align: center;
    font-family: "Poppins";
}

.column2 {
    width: 150px;
    height: 150px;
    margin-left: 40.5%;
    border: 5px solid #EBE6E0;
    cursor: pointer;
    translate: 0px -480px;
    text-align: center;
    font-family: "Poppins";
}

.column3 {
    width: 150px;
    height: 150px;
    margin-left: 51%;
    border: 5px solid #EBE6E0;
    cursor: pointer;
    translate: 0px -960px;
    text-align: center;
    font-family: "Poppins";
}

#topMiddle {
  background-color: red;
}

#topRight {
  background-color: blue;
}

.container {
    margin-left: 40px;
}

.topLeft {
  font-size: 100px;
  text-align: center;
}

.topMiddle {
  font-size: 75px;
  text-align: center;
}

.topRight {
  font-size: 75px;
  text-align: center;
}

.middleLeft {
  font-size: 75px;
  text-align: center;
}

.middleMiddle {
  font-size: 75px;
  text-align: center;
}

.middleRight {
  font-size: 75px;
  text-align: center;
}

.bottomLeft {
  font-size: 75px;
  text-align: center;
}

.bottomMiddle {
  font-size: 75px;
  text-align: center;
}

.bottomRight {
  font-size: 75px;
  text-align: center;
}
